body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000;
    background-color: dimgray;
}

#button-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.slider-container {
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
}

#volumeSlider {
    width: 150px;
    height: 8px;
}

#layersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border: 1px solid #000;
    margin-top: 20px;
    position: relative;
}

.layer {
    border: 1px solid #000;
    width: 100%;
    height: 100px;
    margin: 5px 0;
    position: relative;
    background-color: lightgray;
}

.sound-clip {
    position: absolute;
    height: 100%;
    background-color: darkgray;
    cursor: grab;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 1;
}
